.container {
    position: relative;
    display: inline-block;
    width: 350px;
    height: 350px;
}

.img{
    width: 350px;
    height: 350px;
    border-radius: 20px;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.downloadBtn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.427);
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
}

.downloadBtn:hover {
    background-color: rgba(220, 21, 137, 0.815);
}